<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escriba4H</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1> NO/DPF/GPB/PR </h1>

    <div class="inside">
        <table class="table-inputs">
            <tr>
                <th>Servidor</th>
                <th>Diligências (junho)</th>
                <th>Créditos (junho) </th>
                <th>Diligências (total)</th>
                <th>Créditos (total) </th>
                <th>Última diligência</th>
            </tr>

            {% for e in entradas %}
            <tr>
                {% for value in e.values() %}
                <td> {{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>